[submodule "n64-blueretro/components/esp-nimble-cpp"]
	path = n64-blueretro/components/esp-nimble-cpp
	url = git@github.com:pepa667/esp-nimble-cpp.git
[submodule "n64-blueretro/components/ESP32-BLE-Gamepad-idf"]
	path = n64-blueretro/components/ESP32-BLE-Gamepad-idf
	url = git@github.com:pepa667/ESP32-BLE-Gamepad-idf.git
[submodule "n64-switch/components/Blue-N64-Control-ESP32"]
	path = n64-switch/components/HOJA-LIB-ESP32
	url = git@github.com:pepa667/HOJA-LIB-ESP32.git
	branch = prev_version
[submodule "n64-switch/components/BluControl-SDK-ESP32"]
	path = n64-switch/components/BluControl-SDK-ESP32
	url = git@github.com:pepa667/BluControl-SDK-ESP32.git
[submodule "n64-blueretro/components/BluControl-SDK-ESP32"]
	path = n64-blueretro/components/BluControl-SDK-ESP32
	url = git@github.com:pepa667/BluControl-SDK-ESP32.git
