[submodule "bbpC-blueretro/components/BluControl-SDK-ESP32"]
	path = bbpC-blueretro/components/BluControl-SDK-ESP32
	url = https://github.com/JPZV/BluControl-SDK-ESP32.git
	branch = main
[submodule "bbpC-blueretro/components/esp-nimble-cpp"]
	path = bbpC-blueretro/components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp.git
	branch = master
[submodule "bbpC-blueretro/components/ESP32-BLE-Gamepad-idf"]
	path = bbpC-blueretro/components/ESP32-BLE-Gamepad-idf
	url = https://github.com/JPZV/ESP32-BLE-Gamepad-idf.git
	branch = master
[submodule "bbpC-switch/components/BluControl-SDK-ESP32"]
	path = bbpC-switch/components/BluControl-SDK-ESP32
	url = https://github.com/JPZV/BluControl-SDK-ESP32.git
	branch = main
[submodule "bbpC-switch/components/HOJA-LIB-ESP32"]
	path = bbpC-switch/components/HOJA-LIB-ESP32
	url = https://github.com/HandHeldLegend/HOJA-LIB-ESP32.git
	branch = main
